:root {
  --unfeed-bg-color: #fff;
  --unfeed-text-color: 240, 100%, 10%;
  --unfeed-shadow: rgba(7, 0, 20, 0.06) 0px 0px 0px 1px,
    rgba(7, 0, 20, 0.1) 0px 10px 15px -3px, rgba(7, 0, 20, 0.05) 0px 4px 6px,
    rgba(7, 0, 20, 0.05) 0px 30px 40px;
  --unfeed-border-radius: 1rem;

  --unfeed-title-weight: 600;
  --unfeed-button-weight: 500;

  --unfeed-button-opacity: 0.04;
  --unfeed-button-opacity-hover: 0.08;
  --unfeed-button-opacity-active: 0.12;
  --unfeed-button-transition: background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  --unfeed-icon-button-opacity: 0.38;

  --unfeed-primary-color: #005dff;
  --unfeed-primary-color-text: #fff;

  --unfeed-outline-opacity: 0.12;
  --unfeed-focus-color: var(--unfeed-primary-color);
  --unfeed-focus-shadow: 0 0 0 2px var(--unfeed-bg-color),
    0 0 0 4px var(--unfeed-focus-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --unfeed-bg-color: #2d2d30;
    --unfeed-text-color: 240, 10%, 90%;
    --unfeed-shadow: rgba(0, 0, 5, 0.24) 0px 0px 0px 1px,
      rgba(0, 0, 5, 0.4) 0px 10px 15px -3px, rgba(0, 0, 5, 0.2) 0px 4px 6px,
      rgba(0, 0, 5, 0.2) 0px 30px 40px;

    --unfeed-button-opacity: 0.08;
    --unfeed-button-opacity-hover: 0.12;
    --unfeed-button-opacity-active: 0.16;
    --unfeed-icon-button-opacity: 0.5;

    --unfeed-outline-opacity: 0.2;
    --unfeed-focus-shadow: 0 0 0 2px var(--unfeed-bg-color),
      0 0 0 4px var(--unfeed-focus-color);
  }
}
[data-theme*="dark"],
[data-unfeed-theme="dark"] {
  --unfeed-bg-color: #2d2d30;
  --unfeed-text-color: 240, 10%, 90%;
  --unfeed-shadow: rgba(0, 0, 5, 0.24) 0px 0px 0px 1px,
    rgba(0, 0, 5, 0.4) 0px 10px 15px -3px, rgba(0, 0, 5, 0.2) 0px 4px 6px,
    rgba(0, 0, 5, 0.2) 0px 30px 40px;

  --unfeed-button-opacity: 0.08;
  --unfeed-button-opacity-hover: 0.12;
  --unfeed-button-opacity-active: 0.16;
  --unfeed-icon-button-opacity: 0.5;

  --unfeed-outline-opacity: 0.2;
  --unfeed-focus-shadow: 0 0 0 2px var(--unfeed-bg-color),
    0 0 0 4px var(--unfeed-focus-color);
}

#unfeed__container {
  position: fixed;
  z-index: 9999;

  width: 19rem;
  height: 14rem;
  box-sizing: border-box;

  background-color: var(--unfeed-bg-color);
  box-shadow: var(--unfeed-shadow);
  border-radius: var(--unfeed-border-radius);

  padding: 0.75rem 1rem;

  font-family: inherit;
  font-size: 1rem;
  color: hsl(var(--unfeed-text-color));
}

#unfeed__container * {
  box-sizing: border-box;
}
#unfeed__container *:focus {
  outline: none;
}
#unfeed__container *:focus-visible {
  outline: none;
  box-shadow: var(--unfeed-focus-shadow);
}

.unfeed__button {
  background-color: hsla(
    var(--unfeed-text-color),
    var(--unfeed-button-opacity)
  );
  border: none;
  border-radius: calc(var(--unfeed-border-radius) / 2);
  padding: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font: inherit;
  font-weight: var(--unfeed-button-weight);
  color: inherit;
  min-height: 2rem;
  line-height: 2rem;

  transition: var(--unfeed-button-transition);
}
.unfeed__button:hover,
.unfeed__button:focus-visible {
  background-color: hsla(
    var(--unfeed-text-color),
    var(--unfeed-button-opacity-hover)
  );
}
.unfeed__button:active {
  background-color: hsla(
    var(--unfeed-text-color),
    var(--unfeed-button-opacity-active)
  );
  transform: scale(0.97);
  transition-duration: 0s;
}

.unfeed__icon-button {
  width: 2.5rem;
  height: 2.5rem;

  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-size: 1.25rem;
  color: inherit;
  opacity: var(--unfeed-icon-button-opacity);

  transition: var(--unfeed-button-transition);
}
.unfeed__icon-button:hover,
.unfeed__icon-button:focus-visible {
  background-color: hsla(
    var(--unfeed-text-color),
    var(--unfeed-button-opacity-hover)
  );
  opacity: 1;
}
.unfeed__icon-button:active {
  background-color: hsla(
    var(--unfeed-text-color),
    var(--unfeed-button-opacity-active)
  );
  transform: scale(0.9);
  transition-duration: 0s;
  opacity: 1;
}
[data-unfeed] :not([data-unfeed-type]) .unfeed__icon-button {
  display: none;
}

#unfeed__close {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 1;
}

#unfeed__form {
  position: relative;
  width: 100%;
}

#unfeed__title {
  margin: 0 0 0.75rem;

  font-size: 1.25rem;
  font-weight: var(--unfeed-title-weight);
  text-align: center;
  line-height: normal;
}

#unfeed__radio-group {
  display: flex;
  gap: 0.5rem;
}
.unfeed__radio {
  width: 0;
  position: fixed;

  opacity: 0;
}
.unfeed__radio-label {
  width: 100%;
  height: 7.5rem;
  margin: 1rem 0;

  line-height: 1;
  flex-direction: column;
  gap: 0.5rem 0.25rem;
}
.unfeed__radio:focus + .unfeed__radio-label {
  box-shadow: var(--unfeed-focus-shadow);
}
.unfeed__radio-icon {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}
#unfeed__container[data-unfeed-type] .unfeed__radio-label {
  height: 2rem;
  margin: 0 0 0.5rem;
  flex-direction: row;
  border: 2px solid transparent;
}
#unfeed__container[data-unfeed-type]
  .unfeed__radio:checked
  + .unfeed__radio-label {
  border-color: hsla(var(--unfeed-text-color), 0.5);
}
#unfeed__container[data-unfeed-type]
  .unfeed__radio:checked:focus
  + .unfeed__radio-label {
  border-color: transparent;
}
#unfeed__container[data-unfeed-type] .unfeed__radio-icon {
  font-size: inherit;
  margin: 0;
}

#unfeed__step2 {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}
#unfeed__container[data-unfeed-type] #unfeed__step2 {
  display: flex;
}

#unfeed__reset {
  position: absolute;
  top: -2.25rem;
  left: 0.25rem;
}

#unfeed__message {
  min-height: 5rem;
  resize: none;

  border-radius: calc(var(--unfeed-border-radius) / 2);
  border: 2px solid
    hsla(var(--unfeed-text-color), var(--unfeed-outline-opacity));
  background: none;

  font: inherit;
  color: inherit;
  padding: 0.5rem;
}
#unfeed__message:focus {
  border-color: var(--unfeed-focus-color);
  box-shadow: none;
}

#unfeed__submit {
  position: relative;

  background-color: var(--unfeed-primary-color);
  color: var(--unfeed-primary-color-text);
}
#unfeed__submit:hover,
#unfeed__submit:focus-visible,
#unfeed__submit:active {
  background-color: var(--unfeed-primary-color);
}
#unfeed__submit::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--unfeed-primary-color-text);
  border-radius: inherit;
  opacity: 0;

  transition: var(--unfeed-button-transition);
}
#unfeed__submit:hover::before,
#unfeed__submit:focus-visible::before {
  opacity: var(--unfeed-button-opacity-hover);
}
#unfeed__submit:active::before {
  opacity: var(--unfeed-button-opacity-active);
}

#unfeed__submit[disabled] {
  background-color: hsla(
    var(--unfeed-text-color),
    var(--unfeed-button-opacity-hover)
  );
  color: hsla(var(--unfeed-text-color), var(--unfeed-icon-button-opacity));
  cursor: default;
}
#unfeed__submit[disabled]::before {
  content: none;
}

#unfeed__success {
  display: none;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-weight: var(--unfeed-title-weight);
  text-align: center;
}

#unfeed__check {
  stroke: var(--unfeed-primary-color);
  stroke-dasharray: 18;

  animation: unfeed__draw-check 0.3s ease-out 0.1s both;
}
@keyframes unfeed__draw-check {
  from {
    stroke-dashoffset: 18;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#unfeed__container[data-success] #unfeed__form {
  display: none;
}
#unfeed__container[data-success] #unfeed__success {
  display: flex;
}
#unfeed__container[data-unfeed-type] #unfeed__footer {
  display: none;
}

#unfeed__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.9rem;

  font-size: 0.6875em;
  text-align: center;
  opacity: var(--unfeed-icon-button-opacity);
  transition: var(--unfeed-button-transition);
}
#unfeed__footer a {
  text-decoration: none;
  color: inherit;
}
#unfeed__footer:hover {
  opacity: calc(var(--unfeed-icon-button-opacity) * 2);
}
